{% extends "base.html" %}


{% block content %}
<h1>Dashboard</h1>

<a href="{{ bitlink.original_url }}">{{ bitlink.original_url }}</a>
<a href="{{ bitlink.get_absolute_url }}">{{ bitlink.get_absolute_url }}</a>

<ul>
    {% for log in bitlink.bitlinklog_set.all %}
    <li>
        <p>
            <ul>
                <li>referer: {{ log.http_referer }}</li>
                <li>ip: {{ log.http_remote_address }}</li>
                <li>user-agent: {{ log.http_user_agent }}</li>
                <li>time: {{ log.create_at }}</li>
            </ul>
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
